---
#
---
{% include header.html %}
<div id="secondary_img"></div>
<article id="wrapper">
    <div class="contains" id="descripcion_del_sitio">
        <h1>Asesoramiento en Arquitectura Bioclimática, Recursos Renovables, Tratamiento de Aguas y diversas maneras de utilización de energías renovables.</h1>
        <div><small><span class="icon" data-icon="!"></span> Desde Córdoba, Argentina</small></div>
        {% for post in site.categories.lo_que_hacemos %}
		    <table class="visible">
                <tr>
                    <td></td>
                    <td><a href="{{post.url}}">{{post.title}}</a></td>
                </tr>
            </table>
		{% endfor %}
    <div id="offset"></div>
    </div>
    <div class="contains" id="offset2">
        <div class="contains" id="proyectos">
            <h1>Proyectos</h1>
            <ul>
            {% for post in site.categories.proyectos %}<!--
            --><li style="background-image:url({{post.thumb}})"><a data-id="{{post.url}}" href="{{post.url}}">{{post.title}}</a></li><!--
            -->{% endfor %}<!--
            --><li id="ver-todos"><a href="/label/proyectos"></a><div data-icon="x" class="icon"></div></li><!--
                --></ul>
            <div id="blog">
                <h1>Desde el blog</h1>
                <ul id="blogroll">
                    {% for post in site.categories.notas_de_divulgacion %}
                        <li>
                        {% if post.thumb %}
                            <img src="{{post.thumb}}">
                        {% else %}
                            <div class="icon" data-icon="X"></div>
                        {% endif %}
                            <a href="{{post.url}}">{{post.title}}</a>
                            {% if post.author %}<a>{{post.author}}</a>{% endif %}
                        </li>
                    {% endfor %}
                    {% for post in site.categories.videos %}
                        <li>
                        {% if post.thumb %}
                            <img src="{{post.thumb}}">
                        {% else %}
                            <div class="icon" data-icon="X"></div>
                        {% endif %}
                            <a href="{{post.url}}">{{post.title}}</a>
                        </li>
                    {% endfor %}
                    <hr>
                </ul>

{% include footer.html %}