---
#
---
/*!
 * Autor: Francisco Cano Brusa
 * Contacto: frankno.94@gmail.com
 * Córdoba, Argentina- Julio 2015
 */
@import 'icony/styles';
//@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada);
//@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
//vars
$primary:#00882A;
$accent:rgba(119, 242, 197, 1);
$grid: 15;
$w_width: 435;
$black: #979797;

//includes
@import '_normalize';
@import '_animations';
@import '_responsive-embed-bootstrap';
@import '_general';
@media screen and (min-width: 1116px){
    #header_img, #secondary_img{
        height:75vmax;
    }
}

@media screen and (min-width: 510px){
    .contains{
        &>img, &>.icon{
            border-radius:50%;
            float:left;
            width:10vw!important;
            height:10vw!important;
            margin-top: ($grid*2) + px;
            margin-right: $grid+px;
            margin-bottom: $grid+px;
        }
        &>.icon{
            display:inline-block;
            background-color: lighten($primary,10);
            color:white;
            text-align: center;
            font-size: 5vw;
            line-height: 2.3;
        }
        &>article{
            width: calc(100% - 10vw);
            margin-left: 10vw
        }
        &:after{
            clear:both;
            content:'';
            display:table;
        }
    }
    #content-wrapper, #no-content-wrapper {
      z-index: 2;
      margin-top: 50vh!important;
    }
}

@media screen and (min-width: $w_width*2+px){
    #header_img, #secondary_img{
        height:100vh;
    }
    #secondary_img{
        top:100vh;
    }
    div#modal{
        left: 10vw;
        right: 10vw;
    }
    span#closemodal{
        top: calc(10vh + 20px);
        right: calc(10vw + 43px);
    }
    #wrapper{
        h1{
            font-size:$grid*2+px;
            padding-left: $grid*2+px;
            padding-right: $grid*2+px;
            margin-bottom: $grid*2+px;
        }
    }
    #blogroll{
        margin-left: $grid+px!important;
        margin-right: $grid+px!important;
    }
    #ver-mas{
        margin-left: $grid*2+px!important;
        margin-right: $grid*2+px!important;
        a:link, a:webkit-any-link{
            font-size: $grid*2+px!important;
        }
    }
        #proyectos{
        &>ul{
            &>li{
                width:32vw;
                height: 16vw!important;
                &>a{
                    font-size:$grid*1.5+px!important;
                    height: calc(16vw - 15px) !important;
                }
            }
        }
    }
}
.no-height{
    height:0px;
    overflow:hidden;
}