<footer>
                <div class="contains" id="footer">
                    <div id="g">GUÍAS</div>
                    <div id="nosotras">
                        <div><b id="title">Nosotras:</b></div>
                        <div class="person">
                            <b id="title">Arquitecta Silvia Brusa</b>
                            <p>Profesional independiente y Sub-Directora del Grupo de Materiales Sustentables del <a href="http://www.elinmobiliario.com/PDF/pdfprensa/205.pdf" target="_blank">Instituto de Arquitectura Sustentable (IAS)</a> del Colegio de Arquitectos de la Provincia de Córdoba. Docente en la Cátedra Proyecto II de la Carrera de Diseño de Interiores de la <a href="http://192.232.223.68/~esaacoop/" target="_blank">Escuela Superior Lino E. Spilimbergo</a> <a href="https://upc.cba.gov.ar/" target="_blank">UPC</a>.</p>
                        </div>
                        <div class="person">
                            <b id="title">Arquitecta Adriana Mendieta</b>
                            <p>Profesional independiente y Directora del <a href="http://www.elinmobiliario.com/PDF/pdfprensa/205.pdf" target="_blank">Instituto de Arquitectura Sustentable (IAS)</a> del Colegio de Arquitectos de la Provincia de Córdoba. Directora técnica de Proyectos y Remodelaciones de la Compañía Internacional Farmacity – Filiales Córdoba. Responsable del Area de Recursos Físicos y Constructivos de <a href="http://casasana-ciplan.jimdo.com/el-equipo/" target="_blank">CASA SANA-CIPLAN (Cooperación Interdisciplinaria aplicada a la Planificación)</a>.</p>
                        </div>
                        
                    </div>
                    <div id="contacto"><b id="title">Contacto</b><br>
                        <b>Arquitecta Silvia Brusa.</b> <br>
                        Cel: (0351) 155 646369 <br>
                        Tel:  4651016 <br>

                        <b>Arquitecta Adriana Mendieta.</b> <br>
                        Cel: (0351) 155 072373 <br>
                        Tel:  4883252 <br>
                        <b>Mail</b> <br>
                        guias.arquitectura.sustentable@gmail.com
                    </div>
                    <a id="volver-arriba" onclick="scroll(0, 0)">Volver Arriba</a>
                </div>
            </footer>
        </div>
    </div>
</article>
<div id="modal">
</div>
<div id="shadow"></div>