<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
        <title>guías &#187; Gestión Integral en Arquitectura Sustentable</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
  <meta property="og:description" content="Gestión Integral en Arquitectura Sustentable. Proyectos, notas de divulgación, eventos y más+" />
</head>
<body>
  <nav>
    <div id="nav">
      <ul><li style="background-color:white"><a href="/contacto/"><i data-icon="X" class="icon"></i> <span>Contacto</span></a></li>
        <li><a href="/" style="display:inline;border:none!important;"><img src="/images/logo.png" alt="GUIAS"></a></li>
        <li><a href="/">Inicio</a></li><!-- 
         --><li><a href="/label/proyectos/">Proyectos</a></li><!-- 
         --><li><a href="/todas-las-entradas/">Blog</a></li>

      </ul>
    </div>
  </nav>
  <div id="header_img" {% if page.thumb %} style="background-image:url({{page.thumb}})" {% endif %}></div>