@-webkit-keyframes g-u-i-a-s{
    0%{color:transparent;padding-bottom:0;}
    100%{color:$black;padding-bottom: $grid/2+px;}
}
@-moz-keyframes g-u-i-a-s{
    0%{color:transparent;padding-bottom:0;}
    100%{color:$black;padding-bottom: $grid/2+px;}
}
@-o-keyframes g-u-i-a-s{
    0%{color:transparent;padding-bottom:0;}
    100%{color:$black;padding-bottom: $grid/2+px;}
}
@keyframes g-u-i-a-s{
    0%{color:transparent;padding-bottom:0;}
    100%{color:$black;padding-bottom: $grid/2+px;}
}
@-webkit-keyframes extend{
    0%{top:0;opacity:0}
    100%{top:100px;opacity:1}
}
@-moz-keyframes extend{
    0%{top:0;opacity:0}
    100%{top:100px;opacity:1}
}
@-o-keyframes extend{
    0%{top:0;opacity:0}
    100%{top:100px;opacity:1}
}
@keyframes extend{
    0%{top:0;opacity:0}
    100%{top:100px;opacity:1}
}
@-webkit-keyframes contract{
    0%{top:100px;opacity:0;}
    100%{top:0;opacity:1;}
}
@-moz-keyframes contract{
    0%{top:100px;opacity:0;}
    100%{top:0;opacity:1;}
}
@-o-keyframes contract{
    0%{top:100px;opacity:0;}
    100%{top:0;opacity:1;}
}
@keyframes contract{
    0%{top:100px;opacity:0;}
    100%{top:0;opacity:1;}
}
.rotate{
    -webkit-animation: rotate 1s infinite;
    -moz-animation: rotate 1s infinite;
    -o-animation: rotate 1s infinite;
    animation: rotate 1s infinite;
}
@-webkit-keyframes rotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@-moz-keyframes rotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}    
}
@-o-keyframes rotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}      
}
@keyframes rotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}        
}
@-webkit-keyframes visibilize{
    0%{
        visibility: hidden!important;
        opacity: 0!important;
    }
    100%{
        visibility: visible!important;
        opacity: 1!important;
    }
}
@-moz-keyframes visibilize{
    0%{
        visibility: hidden!important;
        opacity: 0!important;
    }
    100%{
        visibility: visible!important;
        opacity: 1!important;
    }
}
@-o-keyframes visibilize{
    0%{
        visibility: hidden!important;
        opacity: 0!important;
    }
    100%{
        visibility: visible!important;
        opacity: 1!important;
    }
}
@keyframes visibilize{
    0%{
        visibility: hidden!important;
        opacity: 0!important;
    }
    100%{
        visibility: visible!important;
        opacity: 1!important;
    }
}