@charset "UTF-8";
a:visited{
    color:rgb(0, 0, 238);
}
%list-reset{
    list-style: none;
    padding:0;
    margin:0;
}

*{
    box-sizing: border-box;
}
@mixin box-shadow(){
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.43);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.43);
    -o-box-shadow: 0px 0px 3px rgba(0,0,0,.43);
    box-shadow: 0px 0px 3px rgba(0,0,0,.43);
}
body{
    background-color: $black;
}
.visible{
    visibility: visible!important;
    opacity: 1!important;
    -webkit-animation: visibilize 1s 1 ease-in-out;
    -moz-animation: visibilize 1s 1 ease-in-out;
    -o-animation: visibilize 1s 1 ease-in-out;
    animation: visibilize 1s 1 ease-in-out;
}
.hidden{
    display:none;
}
.img-center{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#nav{
    ul{
        list-style: none;
        padding:0;
        margin:0;
        background-color: white;
        @include box-shadow;
        z-index:6;
        position:fixed;
        left:0;
        right:0;
        top:0;
    }
    li{
        display:inline-block;
        &>a{
            display:block;
            text-align:center;
            text-decoration: none;
            font-size: smaller;
            padding-left: $grid+px;
            padding-right: $grid+px;
            padding-top: $grid/2 + px;
            padding-bottom: $grid/2 + px;
            transition:all 0.3s ease-in-out;
            color: $accent;
            border-bottom: 2px solid transparent;
            &.active{
                border-bottom-color: $primary;
            }
            &:link, &:visited{
                color: $primary;
            }
            &:hover, &:active{
                color: $accent;
                border-bottom-color: $accent;
            }
        }
    }
    li:nth-child(3){
        margin-left: $grid+px;
    }
    img{
        margin-left: ($grid)+px;
        margin-top: $grid+px;
        width: $grid*2.33+px;
        height:$grid*2.33+px;
        height:auto;
        z-index:6;
        transition: all 0.5s;
    }
    li:nth-child(2){
        display:block;
        width: calc(100% - 45px);
        &:after{
            content:'GUIAS';
            font-size:$grid*2.33+px;
            vertical-align: bottom;
            color: $black;
            letter-spacing: -1px;
            font-family: "Montserrat Subrayada", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-transform: none;
            position:absolute;
            left: $grid*5.33+px;
            top: $grid+px;
            display:inline-block;
            white-space: nowrap;
            transition: all 0.5s;
            z-index:5;
        }
        &:hover:after{
            content: 'GUIAS: Gestión Integral en Arquitectura Sustentable';
            font-size: $grid+px;
            font-family: 'Montserrat', sans-serif;
            text-align:right;
            max-width: calc(100% - 103.9px);
            padding-bottom: $grid/2+px;
            top: $grid*2+px;
            -webkit-animation: g-u-i-a-s .5s 1 ease-in;
            -moz-animation: g-u-i-a-s .5s 1 ease-in;
            -o-animation: g-u-i-a-s .5s 1 ease-in;
            animation: g-u-i-a-s .5s 1 ease-in;
            overflow-x:auto;
        }
    }
    &.collapsed {
        li:nth-child(2){
            &:after {
                font-size: $grid*1.5+px;
                left: $grid*4.5+px;
            }
            &:hover:after{
                font-size: $grid+px;
                top: $grid+px;
            }
            img {
                height: $grid*1.5+px;
                width: $grid*1.5+px;
            }
        }
    }
    li:first-child{ // buscador
                    transition: all 0.5s;
                    float:right;
                    color:$accent;
                    border:none!important;
                    cursor:pointer;
                    position:absolute;
                    right:0;
                    bottom:0;
                    a{
                        font-size: $grid+px;
                    }
                    input{
                        border:none;
                        outline:none!important;
                        box-shadow:none!important;
                    }
    }
}
//*Específicos para la página de inicio...*/
#header_img{
    position: fixed;
    z-index: -1;
    background-repeat:no-repeat;
    background-size: cover;
    left:0;
    right:0;
    height:100vh;
}
#header_img{
    top:0;
    background-position: center;
    background-image: url('assets/thumb_techo_verde.jpg');
}

#wrapper{
    position:absolute;
    left:0;
    right:0;
    top:100vh;
}
#wrapper{
    .contains:nth-child(2){
        margin-top: 45px;
    }
    .contains:nth-child(3){
        margin-top: 145px;
    }
    h1{
        font-size:$grid+px;
        padding-left: $grid+px;
        padding-right: $grid+px;
        margin-bottom: $grid+px;
    }
}
#descripcion_del_sitio{
    text-align:center;
    &>h1{
        &>img{
            border-radius: 50%;
            position: absolute;
            left: calc(50% - 173.5px);
            right: calc(50% - 173.5px);
            top: -173.5px;
            width: auto!important;
            height: auto!important;
            box-shadow: 0px 0px 10px #000;
            background-color: white;
        }
        text-align: center;
        margin-top: 50px;
        @media screen and (min-width:675px){
            margin-top: 173.5px;
        }
        
    }
    small{
        display: inline-block;
        margin-bottom: $grid*3+px;
    }
    table{
        display:inline-block;
        width: $w_width+px;
        max-width:100%;
        max-width:100vw;
        visibility:hidden;
        opacity: 0;
        transition: all 1s;
    }
    td{
        text-align: center;
        &>a{
            text-decoration: none;
            color: darken($black,40);
        }
    }
    table>tbody>tr>td:first-child{
        width:150px;
        height:150px;
        background-repeat: no-repeat;
        background-image: url('assets/iconset.gif');
    }
}
@for $i from 1 to 6{
    #descripcion_del_sitio>table:nth-of-type(#{$i})>tbody>tr>td:first-child{
        background-position-x: -150px * ($i - 1);
    }
}
#sust_arq{
    padding-left:$grid+px;
    padding-right:$grid+px;
    line-height: $grid/15;
    margin: $grid+px;
    text-align:center;
    color: darken($black,20);
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

/**/
.contains{
    margin-bottom: $grid*2+px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding-top: $grid+px;
    padding-bottom: $grid+px;
    font-size: 18px;
    max-width: 66rem;
    margin: 0 auto;
    &>img{
        display:block;
    }
}

#proyectos{
    margin-bottom:0;
    padding-bottom:0;
    &>h1{
        font-size: $grid*1.5+px;
    }
    &>ul{
        list-style: none;
        padding:0;
        margin:0;
        text-align: center;
        &>li{
            display:inline-block;
            width:47vw;
            height:47vw;
            vertical-align: top;
            background-position:center;
            background-size:cover;
            background-repeat: no-repeat;
            &>a{
                background:linear-gradient(to bottom, rgba($black,.5), rgba($black, 0) );
                color:white;
                padding:$grid/2+px;
                display:block;
                text-align:center;
                text-decoration:none;
                height:47vw;
                font-size:$grid+px;
            }
        }
    }
}
li#ver-todos{
    background-color:$black;
    position:relative;
    overflow:hidden;
    transition: background-color 0.2s;
    &>.icon, &>a, &>a:after{
        position:absolute;
        top:40%;
        bottom:auto;
        left:0;
        right:0;
        transition: left 0.2s;
    }
    &>.icon{
        text-align:center;
        color:white;
        font-size:$grid*2+px;
        left:-200%;
    }
    &>a{
        z-index:2;
        background-color:transparent!important;
        top:0;
        bottom:0;
        &:after{
            content:'Ver todos';
        }
    }
    &:hover{
        background-color:$accent;
        &>.icon{
            left:0;
        }
        &>a:after{
            left:200%;
        }
    }
}
#blog{
    margin-top: $grid*3+px;
    margin-bottom: $grid*2+px;
    &>#ver-mas{
        padding: $grid+px;
        text-align: center;
        a:link, a:-webkit-any-link{
            color: $black;
            font-size: $grid/1.25+px;
        }
    }
}
#blogroll{
    @extend %list-reset;
    &>li{
        margin-top: $grid*1.5+px;
        &>img{
            margin-left: $grid+px;
            margin-right: $grid+px;
            border-radius:50%;
            width: $grid*4+px;
            height: $grid*4+px;
        }
        &>.icon{
            width: $grid*4+px;
            height: $grid*4+px;
            display: inline-block;
            margin-left: $grid+px;
            margin-right: $grid+px;
            border-radius: 50%;
            background-color: lighten($primary,10);
            color:white;
            text-align: center;
            font-size: $grid*2+px;
            line-height: 2.3;
        }
        &>a:nth-child(2){
            font-size: $grid*1.2+px;
            display:inline-block;
            position:absolute;
            line-height: 1;
            max-height: 2em;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &>a:nth-child(3){
            font-size:$grid*0.9+px;
        }
        &>a{
            text-decoration: none;
        }
    }
}
div#modal {
    visibility:hidden;
    opacity:0;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0vh;
  background-color: white;
  z-index: 9;
  -webkit-box-shadow: 0px 0px 5px rgb(151, 151, 151), 0px 0px 30px;
  box-shadow: 0px 0px 5px rgb(151, 151, 151), 0px 0px 30px;
  padding: $grid+px;
  overflow-x:hidden;
  overflow-y:auto;
}
#modal>div:first-child {
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:relative;
  &>#share{
      &>.icon{
            background-color: white;
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            text-align: center;
            line-height: 2.3;
            color: $primary;
            position: absolute;
            right: 7.5px;
            cursor: alias;
            background-color: white;
            bottom: -22.5px;
            font-size: 23px;
            z-index: 9;
            -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.49);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
      }
  }
}
#share>div{
  position: absolute;
  bottom: -22px;
  right: 9px;
  background-color: white;
  padding-bottom: 7px;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 17px;
  border-radius: 50px;
  z-index: 8;
  box-shadow: 0px 0px 5px;
  visibility:hidden;
}
#share:hover>div{
    @extend .visible;
}
#post_description{
  &>article>h1>a{
    position: absolute;
    bottom: 50%;
    left: 15px;
    right: 15px;
    padding: 15px;
    color: white!important;
    font-size: $grid*1.5px;
    text-decoration: none;
    background-color: rgba($black,.5);
  }
  a:link, a:-webkit-any-link{
      color: $black;
  }
  img{
    max-width: 100%;
    height: auto;
  }
}
div#shadow {
    visibility:hidden;
    opacity:0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.8);
  z-index: 4;
}
#shadow:after{
    content: 'Cargando...';
    position:fixed;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
    text-align: center;
    font-size:30px;
    color:darken($black,20);
    z-index:5;
}
span#closemodal {
  position: fixed;
  right: 0px;
  top: 0px;
  font-weight: bolder;
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid black;
  line-height: 0.68;
  cursor:pointer;
  pointer-effects:none;
}


#footer{
    font-size:$grid*0.8+px;
    margin-bottom:0;
    padding-left: $grid+px;
    padding-right: $grid+px;
    color: $black;
    border-top: 2px solid $accent;
    a:link, a:-webkit-any-link{
        color:$black;
    }
    &>#g{
        color: darken($black,20);
        font-family: 'Montserrat Subrayada', sans-serif;
        font-size: $grid*2+px;
        &:after{
            display:block;
            content: 'Gestión Integral en Arquitectura Sustentable';
            font-family: 'Montserrat', sans-serif;
            font-size: $grid*1.2+px;
        }
    }
    @media (min-width:66rem){
        #contacto { width: 50%; }
        #nosotras>.person { width: 45%; display: inline-block; padding-left: 2rem }
    }
    &>#contacto, &>#nosotras{
        margin-bottom:$grid*2+px;
        margin-top:$grid*2+px;
        line-height: 1.4;
        color: darken($black,20);
        &>b#title{
            font-size:$grid*1.2+px;
        }
    }
}

.btn{
    display:inline-block;
    margin-top:$grid+px;
    border:2px dashed $black!important;
    outline:none!important;
    background:none;
    padding:$grid+px;
    color: $black;
    font-size: $grid*1.2+px;
}
.btn-block{
    display:block!important;
    width:100%;
}
#content-wrapper, #no-content-wrapper{
    z-index: 2;
    margin-top: 0vh;
    a:link, a:-webkit-any-link{
        text-decoration:none;
        border-bottom: 1px dashed $black;
    }
    .contains{
        padding: $grid*2+px;
        @media screen and (min-width: 510px){
            padding: $grid*4+px;
        }
    }
    h1>a:link, h1>a:-webkit-any-link{
        border-bottom: 2px dashed $black;
        color: darken($black,20);
    }
    // #header_img{
    //     height: 50vmax;
    //     min-height: 50vh;
    //     top: 86px;
    // }
    img{
        max-width:100%;
        height:auto;
    }
}
#no-content-wrapper, #content-wrapper{
    margin-top: 116px;
}

/*Helpers*/
.pull-right{
    float:right;
    margin-left: $grid+px;
}
.pull-left{
    float:left;
    margin-right: $grid+px;
}
.clearfix, .clearfix:after, .clearfix:before, hr{
    content:'';
    display:table;
    clear:both;
}
.form-group{
    margin: $grid+px 0;
}
.form-control{
    display:block;
    border: 1px dashed $black;
    width:100%;
    &:focus{
        border-color:$accent;
        outline:none;
    }
}
#buscar{
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index:5;
    background-color:white;
    @include box-shadow;
    &>.form-control{
        border:none;
        border-bottom: 2px solid $accent;
        font-size: $grid+px;
        width: calc(100% - 90px);
        height:55px;
        display:inline-block;
        color: darken($black, 20);
        padding-left: $grid+px;
    }
    &>button{
        height:55px;
        transition: all 0.5s;
        float: right;
        color: $accent;
        border: none !important;
        cursor: pointer;
        margin:0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        font-size: $grid+px;
        border:none!important;
        border-bottom: 2px solid $accent!important;
    }
    &>button:focus{
        color: $primary;
        border-bottom-color:$primary!important;
    }
}
#buscar.extend{
    -webkit-animation: extend 0.5s 1 ease-in-out;
    -moz-animation: extend 0.5s 1 ease-in-out;
    -o-animation: extend 0.5s 1 ease-in-out;
    animation: extend 0.5s 1 ease-in-out;
    top:100px;
}
#buscar.contract{
    -webkit-animation: contract 0.5s 1 ease-in-out;
    -moz-animation: contract 0.5s 1 ease-in-out;
    -o-animation: contract 0.5s 1 ease-in-out;
    animation: contract 0.5s 1 ease-in-out;
}
.aligncenter{
    text-align:center;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.nav-link{
    padding:$grid+px;
    &>a:link, &>a:-webkit-any-link{
        color:white;
    }
}
#volver-arriba{
    text-align: right;
    padding: 5px;
    cursor:pointer;
    display:block;
}

.text-center{ text-align: center }
.text-right{ text-align: right }
.text-left{ text-align: left }