---
layout: default
---
<div id="header_img"></div>
<div id="content-wrapper">
    <h1 class="contains">
       {% if page.category == "ALL" %}
       	Todas las entradas
       {% else %}
	    {{ page.title }}
       {% endif %}
    </h1>
    <div class="contains">
		{% if page.category == "ALL" %}
    		{% assign posts = site.posts %}
		{% else %}
    		{% assign posts = site.categories[page.category] %}
		{% endif %}
		{% for post in posts %}
			{% if post.thumb %}
				<img class="aligncenter" src="{{post.thumb}}">
			{% else %}
        <div class="aligncenter icon" data-icon="X"></div>
			{% endif %}
      <article>
        <h1><a href="{{post.url}}">{{post.title}}</a></h1>
        <div style="margin-bottom:2em">
          {% if post.author %}<b>por {{post.author}}</b> - {% endif %}
          Categorías:
          {% for cat in post.categories %}<a href="/label/{{cat}}">#{{cat}}</a>{% endfor %}
        </div>
        <div style="margin-bottom:2em">
          {{post.excerpt}}
        </div>
        <div>
          <a class="nav-link" href="{{post.url}}">Seguir leyendo</a>
          <hr class="clearfix">
        </div>
      </article>
		{% endfor %}
    <!--div class="nav-link pull-right"><?php next_posts_link( 'Página Siguiente' ); ?></div>
    <div class="nav-link pull-left"><?php previous_posts_link( 'Página Anterior' ); ?></div-->
    <div class="clearfix"></div>
</div>