---
layout: default
---

<div id="content-wrapper">
	<h1 class="contains">
       {% if page %}
	    {{ page.title }}
       {% else %}
       	{{ post.title }}
       {% endif %}
    </h1>
	<div class="contains">
		{{ content }}

</div>